$primary-color: #e2602c;
$primary-color-light: #e88056;
$primary-color-dark: #b54d23;

$secondary-color-light: #c19b76;

$black-color-light: #1c1c1c;
$black-color-dark: #101010;

// Shadows
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
